[Unit]
Description=Bercow - the driver

[Service]
ExecStart=/usr/bin/python /home/pi/zoidberg-deploy/bercow/bercow.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
KillSignal=SIGINT

[Install]
WantedBy=default.target